#agreementChart {
    width: 100% !important;
    height: 100vh !important;
    transform: scale(70%);
    
}
#studentChart {
    width: 100% !important;
    height: 100vh !important;
    transform: scale(70%);
}

.chart-container {
    height: 200vh;
    width: 100%;
    overflow: scroll;
}