<ion-content>
  <worklog-fe-toolbar [options]="toolbarOptions"></worklog-fe-toolbar>
  <worklog-fe-sidebar (onCloseMenu)="closeMenu($event)"></worklog-fe-sidebar>

  <div class="body-content">
    <div class="first-row">
      <div class="text-first-row">
        <h4>{{"agreements.title" | translate}}</h4>
      </div>
      <div class="icons-first-row">
        <span class="material-symbols-rounded" id="copy-icon" (click)="addModal()">handshake</span>
      </div>
    </div>
    <worklog-fe-table class="table-component" [rows]="rows" [columns]="columns" [tableStyle]="tableStyle"
    [tableButtons]="tableButtons" (editEvent)="promptUpdate($event)" (infoEvent)="presentModal(null,$event,'info')" (deleteEvent)="promptDelete($event)"></worklog-fe-table>
  </div>
  </ion-content>